* {
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    height: 70px;
    background-color: aqua;
    box-shadow: 1px 2px gray;
    padding: 10px;
}
.header-logo {
    height: 100%;
}
.nav-list {
    display: flex;
    list-style: none;
    position: absolute;
    right: 10px;
    margin: 19px auto;
    right:20px;
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-brand {
    display: flex;
    align-items: center;
    padding: 5px;

}
.nav-list > li> a {
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
}
.footer{
    position: fixed;
    bottom: 0px;
    padding: 10px;
    background-color: gray;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
    width: 100%;
}
.container {
    margin: 4px;
}
.home-img {
    height: fit-content;
    width: 100%;
}
.img-container{
    display: block;
}
.link-btn{
    position: absolute;
    left: 65vh;
    padding: 15px;
    color: aliceblue;
    background-color: orange;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}